.card-list {
    &.dark {
      --bg-color: linear-gradient(135deg, #000000, #535254);
      --text-color: #fff;
      --hr-color: #fff;
    }
  
    &.light {
      --bg-color: #fff;
      --text-color: #343C6A;
      --hr-color: #000;
      border: 1px solid #DFEAF2;
    }
  
    background: var(--bg-color);
    color: var(--text-color);
  
    hr {
      background-color: var(--hr-color);
    }
  
    .balance-container,
    .number-section,
    .name,
    .date {
      color: var(--text-color);
    }

  border-radius: 15px;
  padding: 1em;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 1200px) {
    width: 25vw;
    height: 25vh;
  }

  @media (max-width: 992px) {
    width: 30vw;
    height: 30vh;
  }

  @media (max-width: 768px) {
    width: 90vw;
    height: auto;
  }

  @media (max-width: 576px) {
    width: 90vw;
    height: auto;
  }
}

.balance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  .balance {
    margin: 0;
    font-size: 12px;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  .amount {
    margin: 0;
    font-size: 20px;

    @media (max-width: 576px) {
      font-size: 20px;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 576px) {
    // flex-direction: column;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 30px;

      @media (max-width: 576px) {
        width: 40px;
      }
    }
  }

  .chip {
    width: 30px;
    height: 30px;

    @media (max-width: 576px) {
      width: 40px;
      height: 40px;
    }
  }
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2vh 0;

  @media (max-width: 576px) {
    align-items: center;
    margin: 3vh 0;
  }

  .name-section {
    margin: 0;

    .card-label {
      margin: 0;
      font-size: 12px;

      @media (max-width: 576px) {
        font-size: 12px;
      }
    }

    .name {
      margin: 0;
      font-size: 15px;

      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
  }

  .valid-date {
    text-align: right;

    @media (max-width: 576px) {
      text-align: center;
    }

    .date-label {
      margin: 0;
      font-size: 12px;

      @media (max-width: 576px) {
        font-size: 12px;
      }
    }

    .date {
      margin: 0;
      font-size: 15px;

      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
  }
}

hr {
  border: 0;
  height: 1px;
}

.number-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  @media (max-width: 576px) {
    // flex-direction: column;
    align-items: center;
  }

  .card-number {
    margin: 1vh 0;
    font-size: 16px;
    letter-spacing: 2px;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
}

.cards-container {
  position: relative;
  display: flex;
  gap: 4vw;

  .cards-header{
    display: flex;
    gap: 4vw;
  }
  // gap: 5vw;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
}

.card-list {
  position: relative;

  @media (max-width: 576px) {
    align-items: center;
  }

  .header-my-cards {
    float: left;
    font-size: 2vh;
    font-weight: 600;
    color:#343C6A;

    @media (max-width: 576px) {
      font-size: 2.5vh;
    }
  }
}