.chart-container {
    width: 100%;
    height: 400px; /* Default height for desktop screens */
  }
  
  @media (max-width: 1024px) {
    .chart-container {
      height: 300px; /* Adjust height for tablet screens */
    }
  }
  
  @media (max-width: 768px) {
    .chart-container {
      height: 200px; /* Adjust height for mobile screens */
    }
  }