/* Dashboard Container */
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0.8rem;
  background-color: #f9f9f9;

  .expense-pie-chart{
    display: flex;
    justify-content: center;
    align-items: center;

    .expense-statistics{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .weekly-activity-chart{
    display: flex;
    align-items: center;
    height: 24vh;
    flex-grow: 1;

    canvas{
      display: flex;
      flex-grow: 1;
    }
  }
  .balance-history{
    width: 55vw;
  }
  //mobile and tablet
  @media (max-width: 1024px) {
    .balance-history{
      width: 64vw;
    }
  }
  //only mobile screen
  @media (max-width: 480px) {
    .balance-history{
      width: auto;
    }
  }
}

/* Section Styles */
.section {
  display: flex;
  flex-direction: column;
}

.section-heading {
  margin-top: 0;
  margin-left: 0.25rem;
  font-size: 1rem;
  color: #343C6A;
  margin-bottom: 0.5rem;
}

.text-right {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #343C6A;
  text-align: right;
  margin-right: 1rem;
}

/* Card Styles */
.card {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Transaction Styles */
.transaction {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

/* Weekly Activity Card - Span 2 Columns on Large Screens */
.weekly-activity {
  grid-column: span 2;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .weekly-activity {
    grid-column: span 1;
  }
  .card-all{
    display: flex;
    align-items: center;
  }
}

/* Chart Placeholder Styles */
.chart,
.line-chart {
  height: 150px;
  background: #e0e0e0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
}

/* Pie Chart Placeholder */
.pie-chart {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background: conic-gradient(
    #4caf50 0% 30%,
    #ff9800 30% 45%,
    #2196f3 45% 65%,
    #ccc 65% 100%
  );
}
