.weekly-activity,
.expense-statistics {
  // flex: 1;
  // margin: 10px;
}

.stats-section {
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
  // gap: 20px;
}

.cards-section,
.transactions-section,
.transfer-section,
.balance-history {
  margin-bottom: 20px;
}

.card {
  background: #34495e;
  color: white;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.card p {
  margin: 0;
}

/* WeeklyActivityChart Container */
.weekly-activity {
  border-radius: 8px;
  height: 200px;
  width: 730px;
}

/* Canvas Defaults */
canvas {
  border-radius: 15px;
  display: block;
  max-width: 100%;
  max-height: 100%; 
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  width: 775px;
  height: 387px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.dashboard{
  margin: 2vh 3vw;
}

.Quick-balance-section{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 1vh;
}