.app {
  display: flex;
  font-family: Arial, sans-serif;

  .main-content {
    flex: 1;
    background-color: #F5F7FA;
  }

  .pad-margin-zero {
    padding: 1vh 0;
    margin: 0;
    font-size: 2vh;
    color: #343C6A;
  }
}